<div class="row">
    <div class="col-sm-12">
        <h2>Buscar</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label class="form-label">Empresa:</label>
        <select class="form-control" ng-model="selectedValueEmpresaID" ng-options="empresa.emp_idempresa as empresa.emp_nombre for empresa in lstEmpresaUsuario" name="txtEmpresa" ng-change="getBancos()">
            <option value="">Seleccioné Empresa</option>
        </select>
    </div>
    <div class="col-sm-4">
        <label class="form-label">Banco:</label>
        <select class="form-control" ng-model="selectedValueBancoID" ng-options="banco.IdBanco as banco.Nombre for banco in lstBanco" name="txtBanco" ng-change="getCuentas()" ng-disabled="ddlBancoDisabled">
            <option value="">Seleccioné Banco</option>
        </select>
    </div>
    <div class="col-sm-4">
        <label class="form-label">Cuenta:</label>
        <select class="form-control" ng-options="Cuenta.Cuenta as Cuenta.Cuenta for Cuenta in lstCuenta" ng-model="selectedValueCuentaID" name="txtCuenta" ng-change="enableCalendar()" ng-disabled="ddlCuentaDisabled">
            <option value="">Seleccioné Cuenta</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-4" id="calendar">
        <label for="fInicio">Fecha Inicio:</label>
        <div class="input-group date">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            <input type="text" class="form-control" id="fInicio" ng-model="selectedValueFechaInicio" placeholder="dd/mm/yyyy" ng-disabled="txtFechasDisabled">
        </div>
    </div>
    <div class="form-group col-md-4" id="calendar">
        <label for="ffin">Fecha Fin:</label>
        <div class="input-group date">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            <input type="text" class="form-control" id="ffin" ng-model="selectedValueFechaFin" placeholder="dd/mm/yyyy" ng-disabled="txtFechasDisabled">
        </div>
    </div>
    <div class="form-group col-md-4" style="margin-top: 23px">
        <button class="btn btn-primary" ng-disabled="btnBuscarDisabled" ng-click="getInteres()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar</button>
    </div>
</div>
