<div ng-controller="conciliacionController" ng-init="init()">
    <div class="panel col-md-12">
        <br/>
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="text-align:center">
                <h3>Detalles de Abonos y Cargos</h3>
            </div>
            <div class="tab">
                <button class="tablinks active" onclick="openCity(event, 'AbonosC')"><span style="color:white; font-weight: bold;"> Abonos Contables </span></button>
                <button class="tablinks" onclick="openCity(event, 'AbonosB')"><span style="color:white; font-weight: bold;"> Abonos Bancarios </span> </button>
                <button class="tablinks" onclick="openCity(event, 'CargosC')"><span style="color:white; font-weight: bold;"> Cargo Contable </span></button>
                <button class="tablinks" onclick="openCity(event, 'CargosB')"><span style="color:white; font-weight: bold;"> Cargo Bancario </span></button>
            </div>
            <div id="AbonosC" class="tabcontent" style="display: block;">
                <h3>Abonos Contables no Bancarios </h3>
                <br/>
                <div id="aboConta">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Tipo Poliza</th>
                                <th>No Poliza</th>
                                <th>Concepto</th>
                                <th style="width: 10%; text-align: center;">Total</th>
                            </tr>
                        </thead>
                    </table>
                    <div style="width: 100%; height: 400px; overflow-y: scroll;">
                        <table class="table">
                            <tbody>
                                <tr ng-repeat="row in abonosContables">
                                    <td>{{row.movFechaOpe}}</td>
                                    <td>{{row.polTipo}}</td>
                                    <td>{{row.numeroCuenta}}</td>
                                    <td>{{row.movConcepto}}</td>
                                    <td style="text-align: right;">{{row.abono | currency}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="padding-left: 85%;">Total: <span style="text-align: right;">{{totalAbonoContable | currency}}</span> </div>
                    <div class="row col-md-12" style="text-align: right;">
                        <div class="col-md-4 col-md-offset-8" style="margin-top: 23px;">
                            <a class="btn btn-primary" href="/conciliacionDetalleRegistros">Detalle de registros</a>
                        </div>
                        <br/> &nbsp;
                    </div>
                </div>
            </div>
            <div id="AbonosB" class="tabcontent">
                <h3>Abonos Bancarios no Contables</h3>
                <br/>                
                <div ui-grid="gridDepositosBancos" ui-grid-selection ui-grid-pinning class="grid"></div>
                <div style="padding-left: 84%;">Total: {{totalAbonoBancario | currency}} </div>
                <div class="row col-md-12" style="text-align: right;">
                    <div class="col-md-4 col-md-offset-8" style="margin-top: 23px;">
                        <button class="btn btn-success" ng-show="dpiSelected" ng-click="getAbonoBancario(0,0,0,2)" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalDPI">Enviar a DPI</button>
                        <a class="btn btn-primary" href="/conciliacionDetalleRegistros">Detalle de registros</a>
                    </div>
                    <br/> &nbsp;
                </div>
            </div>
            <div id="CargosC" class="tabcontent">
                <h3>Cargo Contable no Bancario</h3>
                <br/>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Tipo Poliza</th>
                            <th>No Poliza</th>
                            <th>Concepto</th>
                            <th style="width: 10%; text-align: center;">Total</th>
                        </tr>
                    </thead>
                </table>
                <div style="width: 100%; height: 400px; overflow-y: scroll;">
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="row in cargosContables">
                                <td>{{row.movFechaOpe}}</td>
                                <td>{{row.polTipo}}</td>
                                <td>{{row.numeroCuenta}}</td>
                                <td>{{row.movConcepto}}</td>
                                <td style="text-align: right;">{{row.cargo | currency}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="padding-left: 84%;">Total: {{totalCargoContable | currency}} </div>
                <div class="row col-md-12" style="text-align: right;">
                    <div class="col-md-4 col-md-offset-8" style="margin-top: 23px;">
                        <a class="btn btn-primary" href="/conciliacionDetalleRegistros">Detalle de registros</a>
                    </div>
                    <br/> &nbsp;
                </div>
            </div>
            <div id="CargosB" class="tabcontent">
                <h3>Cargo Bancario no Contable</h3>
                <br/>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>No. Movimiento</th>
                            <th>Referencia</th>
                            <th>Concepto</th>
                            <th style="width: 10%; text-align: center;">Total</th>
                        </tr>
                    </thead>
                </table>
                <div style="width: 100%; height: 400px; overflow-y: scroll;">
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="row in cargosBancarios">
                                <td>{{row.FECHA}}</td>
                                <td>{{row.TIPO}}</td>
                                <td>{{row.POLIZA}}</td>
                                <td>{{row.CONCEPTO}}</td>
                                <td style="text-align: right;">{{row.SALDO_ACTUAL | currency}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="padding-left: 84%;">Total: {{totalCargoBancario | currency}} </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalDPI">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Enviar a DPI</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="form-group">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>BANCO</th>
                                        <th>FECHA</th>
                                        <th style="width: 20%; text-align: right;">SALDO ACTUAL</th>
                                        <th>POLIZA </th>
                                        <th>CONCEPTO </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{resumenDPI.BANCO}}</td>
                                        <td>{{resumenDPI.FECHA}}</td>
                                        <td style="text-align: right;">{{resumenDPI.SALDO_ACTUAL | currency}}</td>
                                        <td>{{resumenDPI.POLIZA}}</td>
                                        <td>{{resumenDPI.CONCEPTO}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row modal-footer">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" ng-click="getDepositosPendientes(1,1,idTipoAuxiliar)" data-dismiss="modal">Enviar a DPI</button>                       
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
