<div ng-controller="conciliacionController" ng-init="init()">
    <div class="panel col-md-12">
        <br/>
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="text-align:center">
                <h3>Detalles de Abonos y Cargos</h3>
            </div>
            <div class="tab">
                <button class="tablinks active" onclick="openCity(event, 'AbonosC')"><span style="color:white; font-weight: bold;"> Abonos Contables </span></button>
                <button class="tablinks" onclick="openCity(event, 'AbonosB')"><span style="color:white; font-weight: bold;"> Abonos Bancarios </span> </button>
                <button class="tablinks" onclick="openCity(event, 'CargosC')"><span style="color:white; font-weight: bold;"> Cargo Contable </span></button>
                <button class="tablinks" onclick="openCity(event, 'CargosB')"><span style="color:white; font-weight: bold;"> Cargo Bancario </span></button>
            </div>
            <div id="AbonosC" class="tabcontent" style="display: block;">
                <div id="aboConta">
                    <h3>Abonos Contables no Bancarios </h3>
                    <br/>
                    <!--Área del Grid-->
                    <div ui-grid="gridAbonosContables" ui-grid-selection ui-grid-pinning class="grid"></div>
                    <div style="padding-left: 84%;">Total: {{totalAbonoContable | currency}} </div>
                    <!--Fin área del grid-->
                    <div class="row col-md-12" style="text-align: right;">
                        <div class="col-md-4 col-md-offset-12" style="margin-top: 23px;">
                        <a class="btn btn-warning" href="/conciliacionInicio "><i class="ti-back-right"></i> Regresar</a> &nbsp;
                            <a class="btn btn-primary" href="/conciliacionDetalleRegistros">Detalle de registros</a>
                        </div>
                        <br/> &nbsp;
                    </div>
                </div>
            </div>
            <div id="AbonosB" class="tabcontent">
                <h3>Abonos Bancarios no Contables</h3>
                <br/>
                <!--Área del Grid-->                
                <div ui-grid="gridDepositosBancos" ui-grid-selection ui-grid-pinning class="grid"></div>
                <div style="padding-left: 84%;">Total: {{totalAbonoBancario | currency}} </div>
                <!--Fin área del grid-->
                <div class="row col-md-12" style="text-align: right;">
                    <div class="col-md-4 col-md-offset-8" style="margin-top: 23px;">
                        <a class="btn btn-warning" href="/conciliacionInicio "><i class="ti-back-right"></i> Regresar</a> &nbsp;
                        <button class="btn btn-success" ng-show="dpiSelected" ng-click="getAbonoBancario(0,0,0,2)" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalDPI">Enviar a DPI</button>
                        <a class="btn btn-primary" href="/conciliacionDetalleRegistros">Detalle de registros</a>
                    </div>
                    <br/> &nbsp;
                </div>
            </div>
            <div id="CargosC" class="tabcontent">
                <h3>Cargo Contable no Bancario</h3>
                <br/>
                <!--Área del Grid-->                
                <div ui-grid="gridCargosContables" ui-grid-selection ui-grid-pinning class="grid"></div>
                <div style="padding-left: 84%;">Total: {{totalCargoContable | currency}} </div>
                <!--Fin área del grid-->
                <div class="row col-md-12" style="text-align: right;">
                    <div class="col-md-4 col-md-offset-8" style="margin-top: 23px;">
                         <a class="btn btn-warning" href="/conciliacionInicio "><i class="ti-back-right"></i> Regresar</a> &nbsp;
                        <a class="btn btn-primary" href="/conciliacionDetalleRegistros">Detalle de registros</a>
                    </div>
                    <br/> &nbsp;
                </div>
            </div>
            <div id="CargosB" class="tabcontent">
                <h3>Cargo Bancario no Contable</h3>
                <br/>
                <!--Área del Grid-->                
                <div ui-grid="gridCargosBancarios" ui-grid-selection ui-grid-pinning class="grid"></div>
                <div style="padding-left: 84%;">Total: {{totalCargoBancario | currency}} </div>
                <!--Fin área del grid-->
                <div class="row col-md-12" style="text-align: right;">
                        <div class="col-md-4 col-md-offset-8" style="margin-top: 23px;">
                        <a class="btn btn-warning" href="/conciliacionInicio "><i class="ti-back-right"></i> Regresar</a> &nbsp;
                            <a class="btn btn-primary" href="/conciliacionDetalleRegistros">Detalle de registros</a>
                        </div>
                        <br/> &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
