<link rel="stylesheet" href="css/tesoreria.css">
<div ng-init="init()">
    <div class="panel col-md-12">
        <br/>
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="text-align:center">
                <h3>Conciliación  Detalle de Registros</h3>
            </div>
            <div class="panel col-md-12">
                <br>
                <br>
                <div class="col-md-12">
                    <span class="text-title text-info text-semibold">{{nombreEmpresa}} / {{nombreBanco}}</span>
                </div>
                <div class="col-md-6">
                    <div class="text-main">
                        <h4>Depósito Bancario</h4>
                    </div>
                    <div ui-grid="gridDepositosBancos" ui-grid-selection ui-grid-pinning class="grid"></div>
                    <div class="media middle pad-all">
                        <div class="media-left">
                            <span class="icon-wrap icon-wrap-sm icon-circle bg-mint">
                                <i class="demo-pli-coin icon-2x"></i>
                          </span>
                        </div>
                        <div class="media-body">
                            <p class="text-2x mar-no text-semibold" ng-class="{'text-info text-semibold' : cargoBanco > 0 && (((cargoBanco - 1) <= abonoAuxiliar && abonoAuxiliar <= (cargoBanco + 1)) || ((abonoAuxiliar - 1) <= cargoBanco && cargoBanco <= (abonoAuxiliar + 1))), 'text-danger text-semibold' : (cargoBanco > 0 && cargoAuxiliar > 0)}">{{cargoBanco | currency}}</p>
                            <p class="text-muted mar-no">Cargo</p>
                        </div>
                        <div class="media-body">
                            <p class="text-2x mar-no text-semibold" ng-class="{'text-info text-semibold' : abonoBanco > 0 && (((abonoBanco - 1) <= cargoAuxiliar && cargoAuxiliar <= (abonoBanco + 1)) || ((cargoAuxiliar - 1) <= abonoBanco && abonoBanco <= (cargoAuxiliar + 1))), 'text-danger text-semibold' : (abonoBanco > 0 && abonoAuxiliar > 0)}">{{abonoBanco | currency}}</p>
                            <p class="text-muted mar-no">Abono</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-main">
                        <h4>Auxiliar Contable</h4>
                    </div>
                    <div ui-grid="gridAuxiliarContable" ui-grid-selection ui-grid-pinning class="grid"></div>
                    <div class="media middle pad-all">
                        <div class="media-left">
                            <span class="icon-wrap icon-wrap-sm icon-circle bg-mint">
                                <i class="demo-pli-coin icon-2x"></i>
                          </span>
                        </div>
                        <div class="media-body">
                            <p class="text-2x mar-no text-semibold" ng-class="{'text-info text-semibold' : cargoAuxiliar > 0 && (((abonoBanco - 1) <= cargoAuxiliar && cargoAuxiliar <= (abonoBanco + 1)) || ((cargoAuxiliar - 1) <= abonoBanco && abonoBanco <= (cargoAuxiliar + 1))), 'text-danger text-semibold' : cargoBanco > 0 && cargoAuxiliar > 0}">{{cargoAuxiliar | currency}}</p>
                            <p class="text-muted mar-no">Cargo</p>
                        </div>
                        <div class="media-body">
                            <p class="text-2x mar-no text-semibold" ng-class="{'text-info text-semibold' : abonoAuxiliar > 0 && (((cargoBanco - 1) <= abonoAuxiliar && abonoAuxiliar <= (cargoBanco + 1)) || ((abonoAuxiliar - 1) <= cargoBanco && cargoBanco <= (abonoAuxiliar + 1))), 'text-danger text-semibold' : abonoBanco > 0 && abonoAuxiliar > 0}">{{abonoAuxiliar | currency}}</p>
                            <p class="text-muted mar-no">Abono</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <a class="btn btn-primary pull-right" ng-click="GuardarGrid()"><i class="ti-control-shuffle">  </i>Punteo</a>
                <br>
                <br/> &nbsp;
            </div>
            <div class="panel col-md-12">
                <br>
                <br>
                <!--INICIA LO QUE ME ROBE PARA MOSTRAR LOS DATOS-->
                <div class="col-md-12">
                    <div class="text-main">
                        <h4>Banco Punteado</h4>
                    </div>
                    <table id="bancoPunteo" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Banco</th>
                                <th>Referencia</th>
                                <th>Concepto</th>
                                <th>Cargo</th>
                                <th>Abono</th>
                                <th data-sort-ignore="true" class="min-width"></th>
                                <th data-sort-ignore="true" class="min-width"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="banco in bancoPadre">
                                <td>{{banco.banco}}</td>
                                <td>{{banco.referencia}}</td>
                                <td>{{banco.concepto}}</td>
                                <td class="text-right" ng-class="{'text-success text-semibold' : banco.abono > 0}">{{banco.abono | currency}}</td>
                                <td class="text-right" ng-class="{'text-success text-semibold' : banco.cargo > 0}">{{banco.cargo | currency}}</td>
                                <td>
                                    <button class="btn btn-danger btn-xs" ng-click="eliminarPunteo(banco)"><i class="demo-pli-cross"></i></button>
                                </td>
                                <td>
                                    <button class="btn btn-info btn-xs" ng-click="verDetallePunteo(banco, 1)"><i class="ti-eye"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <div class="text-main">
                        <h4>Auxiliar Contable Punteado</h4>
                    </div>
                    <table id="auxiliarPunteo" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Tipo Póliza</th>
                                <th># Póliza</th>
                                <th>Concepto</th>
                                <th>Cargo</th>
                                <th>Abono</th>
                                <th data-sort-ignore="true" class="min-width"></th>
                                <th data-sort-ignore="true" class="min-width"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="auxiliar in auxiliarPadre">
                                <td>{{auxiliar.polFecha}}</td>
                                <td>{{auxiliar.polTipo}}</td>
                                <td>{{auxiliar.polReferencia2}}</td>
                                <td>{{auxiliar.movConcepto}}</td>
                                <td class="text-right" ng-class="{'text-success text-semibold' : auxiliar.cargo > 0}">{{auxiliar.cargo | currency}}</td>
                                <td class="text-right" ng-class="{'text-success text-semibold' : auxiliar.abono > 0}">{{auxiliar.abono | currency}}</td>
                                <td>
                                    <button class="btn btn-danger btn-xs" ng-click="eliminarPunteo(auxiliar)"><i class="demo-pli-cross"></i></button>
                                </td>
                                <td>
                                    <button class="btn btn-info btn-xs" ng-click="verDetallePunteo(auxiliar, 2)"><i class="ti-eye"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--TERMINA LO ROBADO-->
            </div>
            <div class="col-md-12">
                <div class="text-right">
                    <a class="btn btn-warning" href="/conciliacionInicio "><i class="ti-back-right"></i> Regresar</a> &nbsp;
                    <button class="btn btn-success" ng-click="generaAlertaPunteo()"><i class="ti-harddrives">  </i>Generar Punteo</button>
                </div>
                <br>
                <br/> &nbsp;
            </div>
        </div>
    </div>
</div>
<!--Modal para colocars el numero del punteo-->
<!--===================================================-->
<div class="modal fade" id="punteoDetalle" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header label-mint">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle text-white"></i></button>
                <h4 class="modal-title text-white">Detalle del Punteo</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Banco</th>
                            <th>Referencia</th>
                            <th>Concepto</th>
                            <th>Cargo</th>
                            <th>Abono</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="bancoD in bancoDetalle">
                            <td>{{bancoD.banco}}</td>
                            <td>{{bancoD.referencia}}</td>
                            <td>{{bancoD.concepto}}</td>
                            <td class="text-right" ng-class="{'text-success text-semibold' : bancoD.cargo > 0}">{{bancoD.cargo | currency}}</td>
                            <td class="text-right" ng-class="{'text-success text-semibold' : bancoD.abono > 0}">{{bancoD.abono | currency}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3" class="text-bold text-right text-info">Total</td>
                            <td class="text-info text-semibold text-right"><span ng-if="cargoTotalBanco > 0">{{cargoTotalBanco | currency}}</span></td>
                            <td class="text-info text-semibold text-right"><span ng-if="abonoTotalBanco > 0">{{abonoTotalBanco | currency}}</span></td>
                        </tr>
                    </tfoot>
                </table>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Tipo Póliza</th>
                            <th># Póliza</th>
                            <th>Concepto</th>
                            <th>Cargo</th>
                            <th>Abono</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="auxiliarD in auxiliarDetalle">
                            <td>{{auxiliarD.polFecha | date:'dd/MM/yyyy'}}</td>
                            <td>{{auxiliarD.polTipo}}</td>
                            <td>{{auxiliarD.polReferencia2}}</td>
                            <td>{{auxiliarD.movConcepto}}</td>
                            <td class="text-right" ng-class="{'text-success text-semibold' : auxiliarD.cargo > 0}">{{auxiliarD.cargo | currency}}</td>
                            <td class="text-right" ng-class="{'text-success text-semibold' : auxiliarD.abono > 0}">{{auxiliarD.abono | currency}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" class="text-bold text-right text-info">Total</td>
                            <td class="text-info text-semibold text-right"><span ng-if="cargoTotalAuxiliar > 0">{{cargoTotalAuxiliar | currency}}</span></td>
                            <td class="text-info text-semibold text-right"><span ng-if="abonoTotalAuxiliar > 0">{{abonoTotalAuxiliar | currency}}</span></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End Modal para colocar el numero del punteo-->
<!--Modal para colocars el numero del punteo-->
<!--===================================================-->
<div class="modal fade" id="alertaPunteo" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="media-left bg-warning pad-all">
                <i class="ti-alert icon-5x"></i>
            </div>
            <div class="media-body pad-lft">
                <div class="modal-body">
                    <br>
                    <h4 class="text-title">¿Esta seguro que desea guardar los punteos?
                        <span>
                            <span>
                                <button class="btn btn-danger pull-right" type="button" data-dismiss="modal"><i class="ti-close"></i> Cancelar</button>
                            </span>
                            <span class="pull-right">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <span>
                                <button class="btn btn-success pull-right" ng-click="generaPunteo()"><i class="ti-check"></i> Aceptar</button>
                            </span>
                        </span>
                    </h4>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End Modal para colocar el numero del punteo-->
<!-- ************ Función para marcar todos los checkbox

<script src="http://code.jquery.com/jquery-1.9.1.js "></script> 
<script>
$(function(){
marcar = function(elemento){
elemento = $(elemento);
elemento.prop("checked ", true);
}

desmarcar = function(elemento){
elemento = $(elemento);
elemento.prop("checked ", false);
}
});
</script>
</head>
<body>
<input type="button " onclick="marcar( ':checkbox') " value="Marcar todos ">
<input type="button " onclick="desmarcar( ':checkbox') " value="Desmarcar ">

uno: <input type="checkbox " name="check ">
dos: <input type="checkbox " name="check ">
tres: <input type="checkbox " name="check ">
cuatro: <input type="checkbox " name="check ">
cinco: <input type="checkbox " name="check ">
-->
