<div style="background-color:white; padding:15px">
    <ctrdep-Banco-Filter> </ctrdep-Banco-Filter>
    <ctrdep-Banco-Table> </ctrdep-Banco-Table>
    <ctrdep-Cartera-Filter-User> </ctrdep-Cartera-Filter-User>
    <ctrdep-Cartera-Filter> </ctrdep-Cartera-Filter>
    <ctrdep-Cartera-Table> </ctrdep-Cartera-Table>
    <ctrdep-Referencia-Detail> </ctrdep-Referencia-Detail>
    <ctrdep-Referencia-Table> </ctrdep-Referencia-Table>
</div>
<div id="mdlLoading" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>
</div>
