<div style="background-color:white; padding:15px">
    <ctrdepiva-Banco-Filter> </ctrdepiva-Banco-Filter>
    <div ng-switch="selectedPanel">
        <div ng-switch-when="pnlCuenta">
            <ctrdepiva-Banco-Table> </ctrdepiva-Banco-Table>
            
        </div>
        <div ng-switch-when="pnlCuentaIva">
            <ctrdepiva-Banco-Table-B> </ctrdepiva-Banco-Table-B>
            <button class="btn btn-primary" ng-click="changePanel('pnlCuenta')">anterior</button>
            <button class="btn btn-success pull-right" ng-click="tempSave()">agregar</button>
        </div>
    </div>
    <div>
        <ctrdepiva-Banco-Table-Add> </ctrdepiva-Banco-Table-Add>
    </div>
</div>
<div id="mdlLoading" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>
</div>
