<div style="background-color:white; padding:15px">
    <ctrdepiva-Banco-Filter> </ctrdepiva-Banco-Filter>

    <div ng-switch="myVar">
  <div ng-switch-when="dogs">
   <ctrdepiva-Banco-Table> </ctrdepiva-Banco-Table>
      <button class="btn btn-primary" >siguiente</button>
  </div>
  <div ng-switch-when="tuts">

   <ctrdepiva-Banco-Table> </ctrdepiva-Banco-Table>
     <button class="btn btn-primary" >anterior</button>
     <button class="btn btn-primary" >agregar</button>
  </div>
  </div>
    <div>
   <ctrdepiva-Banco-Table-Add> </ctrdepiva-Banco-Table-Add>

    </div>
</div>
<div id="mdlLoading" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>
</div>
