<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <p class="text-2x mar-no text-semibold">{{depositoTotal | currency}}</p>
        <p class="text-muted mar-no">Depositos</p>
    </div>
    <div class="col-md-2">
        <p class="text-2x mar-no text-semibold">{{carteraTotal | currency}}</p>
        <p class="text-muted mar-no">Cartera</p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <button type="button" class="btn btn-success" ng-click="creaReferenciaTemporal()"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> | Referencia Temporal</button>
    </div>
</div>
<div class="modal fade" id="mdlReferenciaDetalle" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header label-mint">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle text-white"></i></button>
                <h4 class="modal-title text-white">Detalle Referencia</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered tabla-punteo" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>documento</th>
                            <th>importeDocumento</th>
                            <th>Departamento</th>
                            <th>Sucursal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="detalle in tblPendientesDetalle">
                            <td>{{detalle.documento}}</td>
                            <td>{{detalle.importeDocumento | currency}}</td>
                            <td>{{detalle.depto}}</td>
                            <td>{{detalle.sucursal}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
