<div class="row">
    <div class="col-md-4">
        <h2>Departamento</h2>
    </div>
    <div class="col-md-4">
        <h5>Monto {{objEdicion.usarMontoCalculado == true ? 'automático' :  'usuario' }}</h5>
        <h2>{{objEdicion.usarMontoCalculado == true ? (gridComisionesRow.abono  | currency) : objEdicion.montoAcumuladoUsuario | currency}}</h2>
        <!-- objEdicion.montoAcumuladoUsuario -->
    </div>
    <div class="col-md-4">
        <h5>Monto Total</h5>
        <h2>{{gridComisionesRow.abono | currency}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <select class="form-control" ng-model="selectedValueSucursalID" ng-options="sucursalesUsuario.suc_idsucursal as sucursalesUsuario.suc_nombre for sucursalesUsuario in lstSucursal" name="txtSucursal" ng-change="getDepartamentosBpro(selectedValueSucursalID)">
            <option value="">Seleccioné Sucursal</option>
        </select>
    </div>
    <div class="col-md-4">
        <select class="form-control" ng-model="selectedDepartamento" ng-options="itemDepartamento.descripcion for itemDepartamento in lstDepartamento track by itemDepartamento.descripcion" name="txtDepto" ng-change="setCuentaContable()">
            <option value="">Seleccioné Departamento</option>
        </select>
    </div>
    <div class="col-md-4">
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <h3>Registro Contable</h3>
        <table class="table" cellspacing="0">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Cuenta</th>
                    <th>Concepto</th>
                    <th>Descripción</th>
                    <th>Cargo</th>
                    <th>Abono</th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-repeat="registro in lstRegistroContable">
                <tr>
                    <td>{{registro.consecutivo}}</td>
                    <td>{{registro.cuenta}}</td>
                    <td>{{registro.concepto}}</td>
                    <td>{{registro.descripcion}}</td>
                    <td>{{registro.cargo}}</td>
                    <td>{{registro.abono}}</td>
                    <td>
                        <button class="btn btn-success" ng-click="toggleShowSub()" ng-show="registro.showSub">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
                <tr ng-show="showSub" style="padding:70px">
                    <td colspan="7" ng-if="registro.showSub">
                        <comisiones-Departamento-Inner></comisiones-Departamento-Inner>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<button class="btn btn-success pull-right" ng-click="validarMontos()">Aceptar</button>